@import "styles/variables.scss";
@import "styles/mixins.scss";

.rate-input-form {
  width: 70%;
  display: inline-flex;
  justify-content: space-between;

  @include for-mobile {
    display: block;
    margin: 0 auto;
  }

  button.form-button {
    background: $med-blue;
    color: $light-grey;
    height: 38px !important;

    @include for-mobile {
      margin-top: 10px;
      float: right;
      margin-bottom: 10px;
    }
  }

  .form-rate-field {
    height: 55px;
  }

  .error-message {
    font-size: 10px;
    color: $error-red;
  }

  .error-border {
    border: 1px solid red !important;
    border-radius: 5px;
  }
}

.ui.input {
  @include for-mobile {
    width: 100%;
  }
}

.ui.selection.dropdown {
  @include for-mobile {
    width: 100%;
  }
}
