@import "../../styles/variables.scss";
@import "../../styles/placeholders.scss";
@import "styles/mixins.scss";

.ui.table {
  th.salary-header {
    @extend %table-header;
  }

  @include for-mobile {
    display: none;
  }
}

.salary-body {
  td {
    width: 201px;
  }

  i {
    padding-left: 4px;
  }
}