@import "variables.scss";

html {
  font-family: "Open Sans", sans-serif;

  header {
    background: $dark-blue;
  }

  body {
    background: $light-grey;

    .rate-container {
      p {
        font-size: 18px;
      }
    }
  }
}
