// Color Palette
$dark-blue: #173753;
$med-blue: #1D70A2;
$light-blue: #2892D7;
$green-blue: #1B4353;
$white-blue: #6DAEDB;

$error-red: #f44336;



// Background and Text Colors
$light-grey: #eeeeee;
$grey: #9e9e9e;
$dark-grey: #616161;